* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffc050;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Rubik", sans-serif;
    background-color: #08003f;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

header img {
    height: 120px;
    width: 120px;
}

.navbar {
    display: flex;
    align-items: center;
    height: auto;
    background-color: #08003f;
    padding: 20px;
    gap: 30px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    letter-spacing: 3px;
    color: #ffc050;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;

    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}

.icon {
    display: none;
    font-size: 30px;
    color: #00c599;
    float: right;
}

.btns {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.log-in, .sign-up {
    width: 120px;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s; 
}

.log-in {
    background-color: #ffc050;
    color: #08003f;

    &:hover {
        background-color: #00c599;
    }
}

.sign-up {
    background-color: #00c599;
    color: #08003f;

    &:hover {
        background-color: #ffc050;
    }
}

/* Media Queries */

@media screen and (max-width: 750px) {
    .nav-links {
        display: none;
    }

    .navbar.responsive {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar.responsive .nav-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .icon {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar.responsive .nav-links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .navbar.responsive .btns {
        flex-direction: column;
        gap: 10px;
    }

    .btns {
        display: none;
    }

    .icon {
        display: flex;
    }
}



/*fonts

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*/